name: Sync branches

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Merge main into version branches
        run: |
          for branch in 1.21 1.21.1 1.21.10
          do
            echo "Syncing master -> $BRANCH"
            git checkout $branch
            git merge origin/master --no-ff --no-edit || exit 1
            git push origin $branch
          done